[submodule "rice_imgpro"]
	path = rice_imgpro
	url = https://github.com/taweesoft/rice_imgpro.git
[submodule "KE-rice-disease-diagnosis-KB"]
	path = KE-rice-disease-diagnosis-KB
	url = https://github.com/chinnonae/KE-rice-disease-diagnosis-KB.git
