@(title: String)(content: Html)

@main("New Issue") {

  <div class="container-fluid">
    <div class="page-header">
      <h1>New Issue</h1>
    </div>

    <form class="" action="" method="post">
      <div class="form-group">
        <label><img src="static/images/rice.jpg" width="250" height="250" alt="image" /></label>
        <input type="file">
      </div>

      <div class="form-group">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose Color  <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Brown</a></li>
            <li><a href="#">Yellow</a></li>
          </ul>
        </div>
      </div>

        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose Shape  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Line</a></li>
              <li><a href="#">Circle</a></li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose Part  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Leaf</a></li>
              <li><a href="#">Stem</a></li>
              <li><a href="#">Root</a></li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-9 col-md-6">
              <label for="textarea-addition">Additional Information: </label>
              <textarea class="form-control" id="textarea-addition" rows="10"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit" name="button">Submit</button>
        </div>

    </form>
  </div>

}
